// color variables
$primary-black: #373640;
$secondary-black: #1d1d20;
$grey: #63686e;
$blue: #7e97a6;
$light-green: #b6f7c1;
$dark-green: #239d60;


// style variables 
$shadow: 1px 1px 5px 1px $dark-green;


body{
  background-color: $primary-black;
  width: 100vw;
  height: 100vh;
}


/* removing default browser styling  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
